@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="py-3  border-bottom bg-white">
        <div class="xl-container d-flex flex-wrap">
            <a href="/" class="d-flex  mb-3 mb-lg-0 align-items-left me-lg-auto text-dark text-decoration-none">

                <img src="/images/Screenshot (2).png" alt="" width="50%">
            </a>
            <div class="mt-1 me-2">Welcome</div>
            <h3 class="ms-2 me-3">TestTestings</h3>
            <button class="btno "><img src="/images/moon.svg" alt=""></button>
            <ul class="nav">
                <li class="nav-item"><a href="#" class=" btn btn-outline-primary " style="margin-right: 100px;">Logout</a></li>
            </ul>

        </div>
    </header>
    <nav class="py-2 m-0 bg-white">
        <div class="xl-container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="#" class="nav-link  px-2 dash-nav">DashBoard</a></li>
                <li class="nav-item"><a href="#" class="nav-link   dash-nav">Provider Locations</a></li>
                <li class="nav-item"><a href="#" class="nav-link   dash-nav">My Profile</a></li>
                <li class="nav-item"><a href="#" class="nav-link   dash-nav">Providers</a></li>
                <li class="nav-item"><a href="#" class="nav-link   dash-nav">Partners</a></li>
                <li class="nav-item"><a href="#" class="nav-link   dash-nav">Access</a></li>
                <li class="nav-item"><a href="#" class="nav-link   dash-nav">Records</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="container-xl">
            <div class="row  mt-3">
                <div class="col-2"><button class="btn btn-primary" style="height:120px; width:180px"><img src="/images/icons8-new-50.png" alt="" srcset="">New <div class="h3">1452</div></button></div>
                <div class="col-2 "><button class="btn btn-secondary" style="height:120px; width:180px"><img src="/images/icons8-user-48.png" alt="">Pending<div class="h3">1452</div></button></div>
                <div class="col-2 "><button class="btn btn-success" style="height:120px; width:180px"><img src="/images/icons8-ok-48.png" alt="">Active<div class="h3">1452</div></button></div>
                <div class="col-2 "><button class="btn btn-info" style="height:120px; width:180px"><img src="/images/icons8-clockwise-64.png" alt="">Conclude<div class="h3">1452</div></button></div>
                <div class="col-2 "><button class="btn btn-warning" style="height:120px; width:180px"><img src="/images/icons8-remove-user-50.png" alt="">To Close<div class="h3">1452</div></button></div>
                <div class="col-2 "><button class="btn btn-danger" style="height:120px; width:180px"><img src="/images/icons8-money-bag-50.png" alt="">Unpaid<div class="h3">1452</div></button></div>
            </div>
            <div class="row mt-5">
                <div class="col-2">
                    <div class="h3">Patients<span class="h6">  (New)</span></div>
                </div>
                <div class="col-10">
                    <div class="container">
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-2 me-1"><button class="btn btn-info" style="height:78px; width:180px"><img src="/images/icons8-telegram-50.png" alt="">Send Link</button></div>
                            <div class="col-2 me-1"><button class="btn btn-info" style="height:78px; width:180px"><img src="/images/icons8-note-48.png" alt="">Create Requests</button></div>
                            <div class="col-2 me-1"><button class="btn btn-info" style="height:78px; width:180px"><img src="/images/icons8-share-50.png" alt="">Export</button></div>
                            <div class="col-2 me-1"><button class="btn btn-info" style="height:78px; width:180px"><img src="/images/icons8-all-64.png" alt="">Export All</button></div>
                            <div class="col-2 "><button class="btn btn-info" style="height:78px; width:180px"><img src="/images/icons8-user-48.png" alt="">Request DTY Support</button></div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date Of Birth</th>
                            <th>Requestors</th>
                            <th>Requested Date</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Notes</th>
                            <th>Chat With</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                            <td>61</td>
                            <td>2011-04-25</td>
                            <td>$320,800</td>
                            <td>66</td>
                            <td>2009-01-12</td>
                            <td>$86,000</td>
                        </tr>
                        <tr>
                            <td>Garrett Winters</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>63</td>
                            <td>2011-07-25</td>
                            <td>$170,750</td>
                            <td>66</td>
                            <td>2009-01-12</td>
                            <td>$86,000</td>
                        </tr>
                        <tr>
                            <td>Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>San Francisco</td>
                            <td>66</td>
                            <td>2009-01-12</td>
                            <td>$86,000</td>
                            <td>66</td>
                            <td>2009-01-12</td>
                            <td>$86,000</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Date Of Birth</th>
                            <th>Requestors</th>
                            <th>Requested Date</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Notes</th>
                            <th>Chat With</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </main>

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/dataTables.js"></script>
    <script src="/js/dataTables.bootstrap5.js"></script>
    <script>new DataTable('#example');</script>
</body>
</html>