@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model HalloDoc.Models.CreateRoleViewModel
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3" style="width: 80rem;left:300px;position:absolute;">
    <h2 class="mt-2 float-start ">Edit Role</h2>
    <button class="btn btn-outline-info float-end mt-2 me-5 crback">
        < Back
    </button>


</div>
<div class="container themed-container ms-0 bg-white" style="left:300px;position:absolute;top:300px;">
    <div class="row"><div class="col-12 pc-head">Details</div></div>

    <div class="row">
        <div class="col-6 form-floating pc-text">
            <input type="text" class="form-control" id="RoleName" placeholder="Password" asp-for="name"/>
            <label for="floatinglastname">Role Name</label>
        </div> <div class="col-6 form-floating pc-text">
            <select class="form-select refill" asp-for="accounttype" id="floatingSelect" aria-label="Floating label select example" data-role-id="@Model.role_id">
                <option selected value="0">All</option>
                <option value="1">Admin</option>
                <option value="2">Physician</option>

            </select>
            <label for="floatingSelect">Account Type</label>
        </div>


    </div>
    <div class="check-container">
        @foreach (var item in Model.menus)
        {
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="menu-check" value="@item.Menuid" @if (Model.rolemenus.AsEnumerable().Any(m => m.Menuid == item.Menuid))
                {
                    @: checked

                }
                id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    @item.Name
                </label>
            </div>
        }
    </div>
    <div class="clearfix"></div>
    <button type="button" class="btn btn-outline-info float-end me-1 mb-2 mt-2 crback">Cancel</button>
    <button type="button" class="btn btn-info float-end me-1 mb-2 mt-2 crsave" value="@Model.role_id">Save</button>
    <div class="clearfix"></div>
</div>
<script>
    // $(document).ready(function () {
    //     var regionId = $('.refill').find(":selected").attr('value'); // This will get the id of the selected region

    //     $.ajax({
    //         url: '/Admin/', // Replace with your server script URL
    //         type: 'GET',
    //         data: { AccountType: regionId },
    //         success: function (response) {
    //             $('#nav-home').html(response);
    //                         },
    //         error: function (xhr, status, error) {
    //             console.error(error);
    //         }
    //     });

    // });
    $('.refill').change(function () {
        var regionId = $(this).find(":selected").attr('value'); // This will get the id of the selected region
        var id = $(this).data('role-id');
        console.log("Hello");
        $.ajax({
            url: '/Admin/EditRole', // Replace with your server script URL
            type: 'POST',
            data: { Acctype: regionId,Id:id },
            success: function (response) {
                $('#nav-home').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });

    });
    $('.crback').on('click', function (e) {


        $.ajax({
            url: '/Admin/Access',
            success: function (response) {
                $('#nav-home').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });
    $('.crsave').on('click', function (e) {
        var Role_id = $(this).attr('value');
        var roleName = $('#RoleName').val();
        var account = $('.refill').val();
        var selectedValues = [];
        $("input:checkbox[name='menu-check']:checked").each(function () {
            selectedValues.push($(this).val());
        });

        $.ajax({
            url: '/Admin/SaveEdit',
            type: 'POST',
            data: { name: roleName, menuid: selectedValues, accounttype: account ,role_id:Role_id},
            success: function (response) {
                $('#nav-home').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });
</script>