@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ExploreViewModel
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="width: 120rem;">
    <h2 class="mt-2 float-start ms-2">Search Record</h2>
    <button type="button" class="btn btn-info float-end me-3 mt-3 mb-2" id="search"><img src="/images/icons8-reply-all-arrow-50.png" /> Export Data to Excel</button>


</div>
<div class="container-fluid ms-0 bg-white" style="position:absolute;top:300px;">
    <div class="row">
        
            <div class="ps-2 col-3 form-floating mb-3 mt-3">
                <select class="form-select" id="srstatus" aria-label="Floating label select example">
                    @for(int i=1;i<12;i++)
                    {
                    <option value="@i">@Model.findStatus(i)</option>
                    } </select>
                <label for="floatingSelect">Select Request Status</label>
            </div>
        <div class="ps-2 col-3 form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="srlast" placeholder="name@example.com">
            <label for="floatingInput">Patient Name</label>
        </div>
        <div class="ps-2 col-3 form-floating mb-3 mt-3">
            <select class="form-select" id="srtype" aria-label="Floating label select example">
                @for(int i=2;i<7;i++)
                {
                <option value="@i">@Model.findRequestor(i)</option>
                }   
                </select>
            <label for="floatingSelect">Select Request Type</label>
        </div>
        <div class="ps-2 col-3 form-floating mb-3 mt-3">
            <input type="date" class="form-control" id="premail" placeholder="name@example.com">
            <label for="floatingInput">From Date of Service</label>
            </div>
    </div>
    <div class="row">
        <div class="ps-2 col-3 form-floating mb-3 mt-3">
            <input type="date" class="form-control" id="prfirst" placeholder="name@example.com">
            <label for="floatingInput">To Date of Service</label>
        </div> <div class="ps-2 col-3 form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="prlast" placeholder="name@example.com">
            <label for="floatingInput">Provider Name</label>
        </div>
        <div class="ps-2 col-3 form-floating mb-3 mt-3">
            <input type="email" class="form-control" id="premail" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
        </div><div class="ps-2 col-3 form-floating mb-3 mt-3">
            <input type="text" class="form-control" id="prphone" placeholder="name@example.com">
            <label for="floatingInput">Phone Number</label>
        </div>


    </div>
    <button type="button" class="btn btn-info float-end me-1 mt-3 mb-2" id="search">Search</button>
    <button type="button" class="btn btn-outline-info float-end me-1 mt-3 mb-2" id="clear">Clear</button>

    
<div class="record-partial"></div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Record/SearchPartial',
            success: function (response) {
                $('.record-partial').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });
    $('#clear').on('click', function (e) {
        $('#prfirst').val('');
        $('#prlast').val('');
        $('#premail').val('');
        $('#prphone').val('');
    });
    $('#search').on('click', function (e) {
        var addon = $('#prfirst').val();
        var addon1 = $('#prlast').val();
        var addon2 = $('#premail').val();
        var addon3 = $('#prphone').val();
        $.ajax({
            url: '/Record/SearchPartial',
            type: 'GET',
            data: { FirstName: addon, LastName: addon1, Email: addon2, Phone: addon3 },
            success: function (response) {
                $('.record-partial').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });


</script>