<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="py-3  border-bottom bg-white">
        <div class="xl-container d-flex flex-wrap">
            <a href="/" class="d-flex  mb-3 mb-lg-0 align-items-left me-lg-auto text-dark text-decoration-none">

                <img src="/images/Screenshot (2).png" alt="" style="width:50%">
            </a>
            <div class="mt-1 me-2">Welcome</div>
            <h3 class="ms-2 me-3">TestTestings</h3>
            <button class="btno "><img src="/images/moon.svg" alt=""></button>
            <ul class="nav">
                <li class="nav-item">
                    <a href="#" class=" btn btn-outline-primary " style="margin-right: 100px;">Logout</a>
                </li>
            </ul>

        </div>
    </header>
    <nav class="py-2 m-0 bg-white">
        <div class="xl-container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="#" class="nav-link  px-2 dash-nav">DashBoard</a></li>
                <li class="nav-item"><a href="#" class="nav-link   dash-nav">Profiles</a></li>
            </ul>
        </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="width: 80rem;">
            <h2 class="mt-2 float-start ">Documents</h2>
            <div class="btn btn-outline-primary float-end mt-2 me-5 ">
                < Back
            </div>


        </div>

        <div class="card" style="width: 80rem;">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Patient Name</h6>
                <h5 class="card-title float-start mt-1 pe-2">Testing test</h5>
                <h6 class="card-subtitle text-muted clearfix mt-3">(MD051023TETE0001)</h6>
                <h6 class="card-subtitle mb-2 text-muted float-start mt-1">Check here for any files that you or the doctors of your subsequents requestors have attached for you to review.</h6>

                <div class="input-group mb-3">
                    <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02"><img src="/images/cloud-arrow-up.svg" class="p-1" srcset="">Upload</label>
                </div>

                <h2 class="mt-2 float-start ">Documents</h2>
                <a href="#" class="btn btn-outline-primary float-end ">Download All</a>
                <div class="clearfix"></div>
                <div class="table-responsive mt-2">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col"><input type="checkbox" /></th>
                                <th scope="col"></th>
                                <th scope="col">Uploader</th>
                                <th scope="col">Upload Date</th>
                                <th scope="col">Actions</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>1,001</td>
                                <td>random</td>
                                <td>data</td>
                                <td>placeholder</td>

                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                 <td>1,002</td>
                                <td>placeholder</td>
                                <td>irrelevant</td>
                                <td>visual</td>

                            </tr>
                            <tr>
                                <td><input type="checkbox" /></td>
                                <td>1,003</td>
                                <td>data</td>
                                <td>rich</td>
                                <td>dashboard</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </main>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>