<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="s-header"><img src="/images/Screenshot (2).png" alt="" class="h-logo"><a class="btno" asp-controller="Home" asp-action="Request_screen"><img src="/images/moon.svg" alt=""></a></div>
    <div class="container s-content">
        <div class="container h1">I am a...</div>
        <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            <a type="button" class="btnn btn-1" asp-controller="CreatePatient" asp-action="Create_patient" >Patient</a>
            <a type="button" class="btnn btn-2" asp-controller="CreatePatient" asp-action="Friend_request">Family/Friend</a>
            <a type="button" class="btnn btn-3" asp-controller="CreatePatient" asp-action="Concierge_request">Concierge</a>
            <a type="button" class="btnn btn-4" asp-controller="CreatePatient" asp-action="Business_request">Business Partners</a>
        </div>
    </div>
    <a class="s-back-link" asp-controller="Home" asp-action="Request_screen"><img src="/images/chevron-compact-left.svg" alt="" srcset="">Back</a>
    <div class="s-footer">
        <ul class="nav s-footer-nav">
            <li class="nav-item">
                <a class="nav-link s-footer-link" href="#">Terms of conditions</a>
            </li>

            <li class="nav-item">

                <a class="nav-link s-footer-link" href="#">Privacy Policy</a>
        </ul>
    </div>
    <div class="s-divider">|</div>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>