body
{
    background-color: #F9F9F9;
}
.login-container
{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 700px;
    background-color: #F9F9F9;
}
.hero-image
{
    width: 50%;
    height: 100%;
    opacity: 0.1;
    z-index: -1;
}
.btno {
    position: absolute;
    right:10px;
    top:10px;
    background-color: lightblue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    align-items: center;
    justify-content: center;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(16, 139, 240);
  }
  .logo
  {
    z-index: 100;
    position:absolute;
    top: 10px;
    left:825px;
  }
  .login-card
  {
    z-index: 100;
    position: absolute;
    top: 200px;
    left: 800px;
  }
  .back-link
  {
    
    color:black;
    text-decoration: none;
  }
.login-head
{
    margin-top: 10px;
}
.username
{
    width: 300px;
    margin-top: 20px;
}
.user-icon
{
    position:absolute;
    top:25px;
    left: 275px;
}
.login-button
{
    height: 30px;
    width: 300px;
    background-color: aqua;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}
.forgot-link
{
    text-decoration: none;
    position: absolute;
    top: 300px;
    left: 110px;
}
.footer-nav
{
    position: absolute;
    bottom: 30px;
    left: 800px;
}
.divider 
{
    position: absolute;
    bottom: 40px;
    left:970px;
}
.footer-link
{
    color: black;
}
.login-link
{
    color: black;
    text-decoration: none;
    position: absolute;
    top: 225px;
    left: 110px;
}
.login-link:hover
{
    text-decoration: underline;
}
.s-header
{
    position: absolute;
    background-color:white;
    top: 0;
    left: 0;
    width: 100vw;
    
    height:75px;
    box-shadow: 0 0 0 3px lightgray;
}
.h-logo
{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 10px;
    left: 50px;
}
.s-content
{
    position: absolute;
    left: 900px;
    top: 100px;
    width: 500px;
}
.btn-1
{
    padding-left: 12px;
    text-align: left;
    width: 300px;
    height: 50px;
    margin-top: 30px;
    color: #5668A6;
    border: 1px solid #D9DBE9;
    background-color: #D9DBE9;
    border-radius: 5px;
    font-weight: bold;
}
.btn-2
{
    padding-left: 12px;
    font-weight: bold;
    text-align: left;
    width: 300px;
    height: 50px;
    margin-top: 30px;
    color: #409CC1;
    border: 1px solid #D5F0FB;
    background-color: #D5F0FB;
    border-radius: 5px;
}
.btn-3
{
    padding-left: 12px;
    font-weight: bold;
    text-align: left;
    width: 300px;
    height: 50px;
    margin-top: 30px;
    color: #427549;
    border: 1px solid #E9F1E4;
    background-color:#E9F1E4;
    border-radius: 5px;
}
.btn-4
{
    padding-left: 12px;
    font-weight: bold;
    text-align: left;
    width: 300px;
    height: 50px;
    margin-top: 30px;
    color: #943F6E;
    border: 1px solid #F7E6EE;
    background-color: #F7E6EE;
    border-radius: 5px;
}
.btnn:hover
{
    background-color: burlywood;
}
.s-back-link
{
    color: black;
    text-decoration: none;
    width: 70px;
    height: 30px;
    position: absolute;
    top: 115px;
    left: 1125px;
    border: 1px solid black;
    border-radius: 5px;
}
.s-footer
{
    color: white;
    align-items: right;
    justify-content: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: black;
}
.s-footer-nav
{
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.s-footer-link
{
    color: white;
}
.s-divider 
{
    color:white;
    position: absolute;
    bottom: 30px;
    right:152px;
}
.pc-button
{
    position: absolute;
    top: 20px;
    left: 1200px;
}
.pc-container
{
    background-color: white;
    position: absolute;
    top: 80px;
    left:580px;
    width: 700px;
    height: 875px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px #F2F2F2;
}
.pc-head
{
font-size: 20px;
font-weight: bold;
margin: 10px;
}
.pc-text
{
    margin-top: 10px;
    margin-bottom: 10px;
   padding-left:8px ;
    }
    .pc-num
    {
        padding-top:10px ;
        height: 60px;
        width: 350px;
    }
    .u-icon
    {
        padding: 5px;
    }

    .ff-container
    {
        background-color: white;
        position: absolute;
        top: 80px;
        left:580px;
        width: 700px;
        height:1175px;
        border-radius: 5px;
        box-shadow: 3px 3px 3px 3px #F2F2F2;
        bottom: 30px;
    }   
    .cv-container
    {
        background-color: white;
        position: absolute;
        top: 80px;
        left:580px;
        width: 700px;
        height:1100px;
        border-radius: 5px;
        box-shadow: 3px 3px 3px 3px #F2F2F2;
        bottom: 30px;
    }
    .br-container
    {
        background-color: white;
        position: absolute;
        top: 80px;
        left:580px;
        width: 700px;
        height:1075px;
        border-radius: 5px;
        box-shadow: 3px 3px 3px 3px #F2F2F2;
        bottom: 30px;
    }
    .m-h
    {
        justify-content: center;
        text-align: center;
        display: block;
    }
    .m-h-img
    {
        width: 100px;
        height: 100px;
    }
    .m-h-b
    {
        text-align: center;
        color: #6B6D6D;
    }
    .m-h-f
    {
        justify-content: center;
    }
.dash-nav {
    color: black;
}

    .dash-nav:focus, .dash-nav:hover ,.active{
        color: #64A6B4;
        border-bottom: 1px solid #64A6B4;
    }
    

.login-card-a {
    position: absolute;
    top: 300px;
    left: 1300px;
}

.alogo {
    position: absolute !important;
    top: 50px ;
    left: 1350px;
}

.footer-nav-a {
    position: absolute;
    bottom: 30px;
    left: 1315px;
}

.divider-a {
    position: absolute;
    bottom: 40px;
    left: 1480px;
}

.forgot-link-a {
    text-decoration: none;
    position: absolute !important;
    top: 200px;
    left: 110px;
}
.a-button {
    
    border-radius:10px;
    height: 100px;
    width: 250px
}
.status-1 {
    background-color: #E9EAEF;
    color: #293F84;
    text-align: left;
    border: 1px solid #D6D6DE;
}
.status-2 {
    background-color: #E5F2F8;
    color: #2C9ACA;
    text-align: left;
    border: 1px solid #D6EBEF;
}
.status-3 {
    background-color: #E9F0E8;
    color: #337B2E;
    text-align: left;
    border: 1px solid #F3FCF0
}
.status-4 {
    background-color: #F7E6EE;
    color: #B93C86;
    text-align: left;
    border: 1px solid #E7D2DE;
}
.status-5 {
    background-color: #E5EEF5;
    color: #1F6EB0;
    text-align: left;
    border: 1px solid #D6E5EA;
}
.status-6 {
    background-color: #EFEEF4;
    color: #926AB7;
    text-align: left;
    border: 1px solid #B8A6BE;
}
.status-1:hover,.new .active-1 {
    background-color: #203F9A;
    color: #FBFDFC;
    border:none;
}
.bottom-arrow {
    position: relative;
    left:120px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: none;
    height: 0px;
    width: 0px;
}
.status-1:hover + .bottom-arrow,.new .active-1 + .bottom-arrow {
    border-top: 15px solid #203F9A !important;
    z-index: 3;
}
.status-1:hover .new-img, .status-2:hover .pending-img, .status-3:hover .active-img, .status-4:hover .conclude-img, .status-5:hover .close-img, .status-6:hover .unpaid-img {
    visibility: hidden;
}
.new-img-h, .pending-img-h, .active-img-h, .conclude-img-h, .close-img-h, .unpaid-img-h {
    visibility: hidden;
}
.status-1:hover .new-img-h, .status-2:hover .pending-img-h, .status-3:hover .active-img-h, .status-4:hover .conclude-img-h, .status-5:hover .close-img-h,.status-6:hover .unpaid-img-h {
    visibility: visible;
    position: relative;
    left: -48px;
}
.active-1 .new-img-h, .active-1 .pending-img-h, .active-1 .active-img-h, .active-1 .conclude-img-h, .active-1 .close-img-h, .active-1 .unpaid-img-h {
    visibility: visible;
    position: relative;
    left: -48px;
}
.active-1 .new-img, .active-1 .pending-img, .active-1 .active-img, .active-1 .conclude-img, .active-1 .close-img, .active-1 .unpaid-img {
    visibility: hidden;
    }
.new-h
{
    position:relative;
    left:-40px;
}

.status-2:hover,.pending .active-1 {
    background-color: #00ADEF;
    color: #EAFFFB;
    border: none;
}
    .status-2:hover + .bottom-arrow,.pending .active-1+.bottom-arrow {
        border-top: 15px solid #00ADEF !important;
        z-index: 3;
    }
.status-3:hover,.activ .active-1 {
    background-color: #228C20;
    color: #ECFEEB;
    border: none;
}
    .status-3:hover + .bottom-arrow,.activ .active-1 + .bottom-arrow {
        border-top: 15px solid #228C20 !important;
        z-index: 3;
    }
.status-4:hover,.conclude .active-1 {
    background-color: #DA0F82;
    color: #FFF3FC;
    border: none;
}

    .status-4:hover + .bottom-arrow,.conclude .active-1 + .bottom-arrow {
        border-top: 15px solid #DA0F82 !important;
        z-index: 3;
    }
.status-5:hover,.close .active-1 {
    background-color: #0370D7;
    color: #F3FFFF;
    border: none;
}

    .status-5:hover + .bottom-arrow,.close .active-1 + .bottom-arrow {
        border-top: 15px solid #0370D7 !important;
        z-index: 3;
    }
.status-6:hover,.unpaid .active-1 {
    background-color: #9966CD;
    color: #FBF3FF;
    border: none;
}

    .status-6:hover + .bottom-arrow,.unpaid .active-1 + .bottom-arrow {
        border-top: 15px solid #9966CD !important;
        z-index: 3;
    }
.btn-link-a {
   height:40px;
    background-color: #00BEEB;
    color: #92FFFF;
    border: 1px solid #BFFEFF;
    border-radius:10px;
    font-size:16px;
}
.search {
    border: 1px solid #A6C8CD !important;
    background-color: #FFFFFF !important;
    height:50px !important;
    width:200px !important;
    padding-left:50px !important;
    border-radius:10px !important;
}
.btn-filter {
    height:50px !important;
    background-color: #FFFFFF;
    color: #727172;
    border:none;
}
    .btn-filter:hover {
        background-color: #FFFFFF !important;
        color: #727172 !important;
        border: 1px solid #DCDCDC !important;
    }
.dtable-head {
    background-color: #F0F0F0;
    color: #3C3E40;
    border:none;
}
.cs-head {
    padding:2px;
    font-size:16px;
    border-radius: 10px ;
    background-color: #5FBC61 ;
    color:white ;
}